{{!-- IMPLEMENTACION DEL LADO DEL FRONTEND --}}
<div>
    <h1>Danger</h1>
    <h2>Be Carefull</h2>
    <div>
        <input id="chatBox" placeholder="danger box" style="background-color: cadetblue;">
    </div>
    <div>
        <p id="messageLogs"></p>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script> {{!-- import de la dependencia socket.io desde el frontend --}}
<script src="/js/index.js"></script>

